<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S. M. A. R. T. Add/Remove Student Schedule</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css">
  <%- include('partials/favico') %>
  <style>
    td>button:hover>i {
      color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    }
  </style>
  <script>
    function addStudentSchedule(studentID){
      // Check what is chosen in the dropdown
      var classTimeID = document.getElementById("classTimeSelect").value;
      // Set request variables
      document.getElementById("action").value = "add";
      document.getElementById("student").value = studentID;
      document.getElementById("classTime").value = classTimeID;
    }
    function deleteStudentSchedule(studentID, classTimeID){
      document.getElementById("action").value = "remove";
      document.getElementById("student").value = studentID;
      document.getElementById("classTime").value = classTimeID;
    }
  </script>
</head>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 w-50 shadow-lg p-5 bg-light">
          <form method="get" action="/course">
            <input type="hidden" name="classID" value="<%= locals.classID %>">
            <button class="btn btn-secondary mt-2">
              Back
            </button>
        </form>
          <div style="text-align:center"><h1>All Active Students</h1></div>
          <form method="post"> 
            <!-- DROPDOWN MENU OF CLASS TIMES HERE-->
            <div>
              <label for="classTime">Class Time:</label>
              <div class="input-group mb-3">
                <span class="input-group-text bg-primary"><i
                        class="bi bi-clock text-white"></i></span>
                <select id="classTimeSelect" name="classTimeSelect"
                  class="form-select" placeholder="Select">
                  <% for (var i = 0; i < classTimes.length; i ++) { %>
                    <option value="<%= classTimes[i]['id'] %>"><%= classTimes[i]['value'] %> Group:<%= classTimes[i]['group'] %></option>
                  <% } %>
                </select>
              </div>
            </div>
            <table class="table table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Student Name</th>
                  <% for (var i = 0; i <= totalClassGroups; i ++) { %>
                    <th scope="col">Group <%= i+1 %></th>
                  <% } %>
                  <th scope="col">Add</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i = 0; i < studentTable.length; i ++) { %>
                  <tr>
                    <td><%= studentTable[i]['name'] %></td>
                    <% for (var j = 0; j <= totalClassGroups; j ++) { %>
                      <td><% if ( studentTable[i]['group_'+j] ) {  
                          var classTimeID = studentTable[i]['group_'+j]; 
                          for (var k = 0; k < classTimes.length; k ++ ) {
                            if (classTimes[k]['id'] == classTimeID) {
                                %><%= classTimes[k]['value'] %>
                                  <button class="btn btn-outline-danger mx-2 float-end" onclick="deleteStudentSchedule(<%= studentTable[i]['id'] %>, <%= classTimeID %>);" style="visibility: visible;"><i class="bi bi-x-circle text-danger"></i></button>
                                <%
                                break;
                            }
                          } %>
                          
                        <% } %></td>
                    <% } %>
                    <td>
                      <button class="btn btn-primary pt-2 " onclick="addStudentSchedule(<%= studentTable[i]['id'] %>);">Add</button>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
            <input type="hidden" name="action" id ="action">
            <input type="hidden" name="student" id ="student">
            <input type="hidden" name="classTime" id ="classTime">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>