<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Course Overview</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">

                    <a href="/" class="btn btn-secondary mt-2 position-relative top-0 start-0">Back</a>

                    <div class="row">
                        <div class="col px-5">
                            <button class="btn btn-primary mt-2 float-end">
                                Edit Course
                            </button>
                        </div>
                    </div>

                    <div class="text-center pb-4">
                        <h3 class="text-primary">Course Overview</h3>
                    </div>

                    <div class="col-md-5 pb-4">
                        <h3 class="text-primary"><% if (!(locals.classData === undefined)) { %> <%= locals.classData.subject_name %> <% } %> <% if (!(locals.classData === undefined)) { %> <%= locals.classData.level_name %> <% } %></h3>
                    </div>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>
                                        <b>Teacher: </b><% if (!(locals.classData === undefined)) { %> <%= locals.classData.first_name %> <%= locals.classData.last_name %> <% } %>
                                    </p>
                                    <p>
                                        <b>Subject: </b><% if (!(locals.classData === undefined)) { %> <%= locals.classData.subject_name %> <% } %>
                                    </p>
                                    <p>
                                        <b>Level: </b><% if (!(locals.classData === undefined)) { %> <%= locals.classData.level_name %> <% } %>
                                    </p>
                                    <p>
                                        <b>Semester: </b><% if (!(locals.classData === undefined)) { %> <%= locals.classData.description %> <% } %>
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        <b>Class Schedules:</b>
                                    </p>
                                    <% for (let i = 0; i < locals.classTimes.length; i++) { %>
                                        <p>
                                            <b>Group <%= locals.classTimes[i].group %>: </b><%= locals.classTimes[i].name %>: <%= locals.classTimes[i].start_time %> - <%= locals.classTimes[i].end_time %>
                                        </p>
                                    <% } %>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 mt-4">
                            <form method="get" action="/personResults/addStudent">
                                <div class="row">
                                    <h3 class="text-primary col-md-7">Students</h3>
                                    <input type="hidden" name="classID" value="<%= locals.classID %>" >
                                    <button class="btn btn-primary pt-2 float-end col-md-5" >
                                        Add/Remove Student
                                    </button>
                                </div>  
                            </form>
                            <div class="row mt-2 p-2 shadow-sm rounded border border-primary ">
                                <% if (locals.classStudents.length > 0) { %>
                                    <% for (let i = 0; i < locals.classStudents.length; i++) { %>
                                        <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                            <div class="col-12">
                                                <h5 class="text-primary"><%= locals.classStudents[i].first_name %> <%= locals.classStudents[i].last_name %></h5>
                                            </div>
                                        </div>
                                    <% } %>
                                <% } else { %>
                                    <p>
                                        No students found
                                    </p>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-6 mt-4 mx-auto">
                            <div class="row">
                                <h3 class="text-primary col-md-7">Assignments</h3>
                                <button class="btn btn-primary pt-2 float-end col-md-5">
                                    New Assignment
                                </button>
                            </div>
                            <div class="row mt-2 p-2 shadow-sm rounded border border-primary ">
                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-4">
                                        <h5 class="text-primary">10/21/2022</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="text-primary">Week 1 Vocab</h5>
                                    </div>
                                </div>

                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                    <div class="col-4">
                                        <h5 class="text-primary">3/14/2022</h5>
                                    </div>
                                    <div class="col-8">
                                        <h5 class="text-primary">Sample Assignment</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>