<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Gradebook</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
</head>

<script>
</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">

                    <a href="/" class="btn btn-secondary mt-2 position-relative top-0 start-0">Back</a>

                    <div class="text-center pb-4">
                        <h3 class="text-primary">Course Gradebook</h3>
                    </div>

                    <div class="col-md-5 pb-2">
                        <h3 class="text-primary"><%= locals.classDetails.subject_name %> <%= locals.classDetails.level_name %></h3>
                        <h5><%= locals.classDetails.first_name %> <%= locals.classDetails.last_name %></h5>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <% if (locals.students.length > 0) {
                                for (let i = 0; i < locals.students.length; i++) { %>
                                    <div class="row mb-4 p-2 shadow-sm rounded border border-primary ">
                                        <h3 class="text-primary"><%= locals.students[i].first_name %> <%= locals.students[i].last_name %></h3>

                                        <% if (locals.studentAssignments[i].length > 0) {
                                            for (let j = 0; j < locals.studentAssignments[i].length; j++) { %>
                                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                                    <div class="col-6">
                                                        <h5 class="text-primary"><%= locals.studentAssignments[i][j].assignment_name %></h5>
                                                    </div>
                                                    <div class="col-6">
                                                        <% if (locals.studentAssignments[i][j].status == 'Success') { %>
                                                            <h5 class="text-success"><%= locals.studentAssignments[i][j].grade %>/<%= locals.studentAssignments[i][j].points_possible %></h5>
                                                        <% } else if (locals.studentAssignments[i][j].status == 'Fail') { %>
                                                            <h5 class="text-danger"><%= locals.studentAssignments[i][j].grade %>/<%= locals.studentAssignments[i][j].points_possible %></h5>
                                                        <% } else { %>
                                                            <h5>-/<%= locals.studentAssignments[i][j].points_possible %></h5>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            <% }
                                        } else { %>
                                            <p>No assignments found for student</p>
                                        <% } %>
                                    </div>
                                <% }
                            } else { %>
                                <p>No students found in class</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>