<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S. M. A. R. T. Gradebook</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
</head>

<script>

    function beginUpdateGrade(button) {
        //console.log(button.parentElement.parentElement.children.gradeForm.children.assignment.children);
        let assignmentNode = button.parentElement.parentElement.children.assignment;
        let gradeDisplay = assignmentNode.children.displayGrade;
        let gradeEdit = assignmentNode.children.editGrade;
        let saveBtn = button.parentElement.parentElement.children.gradeSaveBtn;

        button.parentElement.style.display = "none";
        saveBtn.style.display = "initial";

        gradeDisplay.style.display = "none";
        gradeEdit.style.display = "initial";
    }

    function submitGradeEdits(button) {
        let assignmentNode = button.parentElement.parentElement.children.assignment;
        let studentAssignmentID = assignmentNode.children.studentAssignmentID.value;
        let grade = assignmentNode.children.editGrade.children.span.children.editGradeInput.value;
        let asset = assignmentNode.children.editGrade.children.span.children.myFile;
        let pointsPossible = assignmentNode.children.assignmentPointsPossible.value;
        let gradeDisplay = assignmentNode.children.displayGrade;
        let gradeEdit = assignmentNode.children.editGrade;
        let editBtn = button.parentElement.parentElement.children.gradeEditBtn;

        //console.log(grade);

        if (grade != "" && Number(grade) >= 0) {

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Gradebook", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                studentAssignmentID: studentAssignmentID,
                assignmentGrade: grade,
                classID: document.getElementById("classID").value,
                pointsPossible: pointsPossible
            }));

            xhr.addEventListener("load", function(e) {
                button.parentElement.style.display = "none";
                editBtn.style.display = "initial";

                gradeDisplay.style.display = "initial";
                gradeEdit.style.display = "none";

                //console.log(gradeDisplay.firstChild.nextSibling);

                gradeDisplay.firstChild.nextSibling.innerHTML = grade + "/" + pointsPossible;
                gradeDisplay.firstChild.nextSibling.removeAttribute("class");

                if (Number(grade) < Number(pointsPossible) / 2) {
                    gradeDisplay.firstChild.nextSibling.classList.add("text-danger");
                } else {
                    gradeDisplay.firstChild.nextSibling.classList.add("text-success");
                }
            }, false);

            
        }

    }

    function cancelGradeEdits(button) {
        let assignmentNode = button.parentElement.parentElement.children.assignment;
        let gradeDisplay = assignmentNode.children.displayGrade;
        let gradeEdit = assignmentNode.children.editGrade;
        let editBtn = button.parentElement.parentElement.children.gradeEditBtn;
        let studentGrade = assignmentNode.children.studentGradePoints.value;

        gradeEdit.children.span.children.editGradeInput.value = studentGrade;

        button.parentElement.style.display = "none";
        editBtn.style.display = "initial";

        gradeDisplay.style.display = "initial";
        gradeEdit.style.display = "none";
    }

    function uploadAssignmentAsset(button) {
        let assignmentNode = button.parentElement.parentElement.children.assignment;
        let asset = assignmentNode.children.editGrade.children.span.children.myFile;
        let studentAssignmentID = assignmentNode.children.editGrade.children.span.children.studentAssignmentID;

        //assignmentNode.children.editGrade.children.span.children.assetForm.submit();

        if (asset.files[0] != undefined) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Gradebook/upload", true);
            //xhr.setRequestHeader('Content-Type', 'multipart/form-data');
            var formData = new FormData();
            formData.append("studentAssignmentID", studentAssignmentID.value);
            formData.append("myFile", asset.files[0]);

            xhr.send(formData);

            xhr.addEventListener("load", function(e) {
                assignmentNode.children.editGrade.children.span.children.uploadSuccess.style.display = "initial";
            }, false);
        }
    }

    function awardCertificate(button) {

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Certificate", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            classID: document.getElementById("classID").value,
            studentID: button.parentElement.children.viewCertBtn.children.studentID.value
        }));
        
        xhr.addEventListener("load", function(e) {
            button.style.display = "none";
            button.parentElement.children.viewCertBtn.style.display = "initial";
        }, false);
        
        
    }

</script>

<body>
    <div class="container-fluid vh-100" style="margin-top:10px">
        <div class="" style="margin-top:100px">
            <div class="rounded d-flex justify-content-center">
                <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">

                    <a href="/" class="btn btn-secondary mt-2 position-relative top-0 start-0">Back</a>

                    <input id="classID" type="hidden" value=<%= locals.classDetails.class_id %>>

                    <div class="text-center pb-4">
                        <h3 class="text-primary">Course Gradebook</h3>
                    </div>

                    <div class="col-md-5 pb-2">
                        <h3 class="text-primary"><%= locals.classDetails.subject_name %> <%= locals.classDetails.level_name %></h3>
                        <h5><%= locals.classDetails.first_name %> <%= locals.classDetails.last_name %></h5>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <% if (locals.students.length > 0) {
                                for (let i = 0; i < locals.students.length; i++) { %>
                                    <div class="row mb-4 p-2 shadow-sm rounded border border-primary ">
                                        <h3 class="text-primary col-8"><%= locals.students[i].first_name %> <%= locals.students[i].last_name %></h3>

                                        <% if (locals.certifiedStudents.some(e => e.student_id === locals.students[i].student_id)) { %>
                                            <form method="get" action="/Certificate" class="col-4 px-0">
                                                <input name="studentID" type="hidden" value=<%= locals.students[i].student_id %>>
                                                <input name="classID" type="hidden" value=<%= locals.classDetails.class_id %>>
                                                <button class="btn btn-primary col-12" type="submit">
                                                    View Certificate
                                                </button>
                                            </form>
                                        <% } else { %>
                                            <form id="viewCertBtn" method="get" action="/Certificate" style="display:none" class="col-4 px-0">
                                                <input id="studentID" name="studentID" type="hidden" value=<%= locals.students[i].student_id %>>
                                                <input id="classID" name="classID" type="hidden" value=<%= locals.classDetails.class_id %>>
                                                <button class="btn btn-primary col-12" type="submit">
                                                    View Certificate
                                                </button>
                                            </form>
                                            <button class="btn btn-primary float-end col-4" onClick="awardCertificate(this)">
                                                Award Certificate
                                            </button>
                                        <% } %>

                                        <% if (locals.studentAssignments[i].length > 0) {
                                            for (let j = 0; j < locals.studentAssignments[i].length; j++) { %>
                                                <div class="row mx-auto my-1 py-1 shadow-sm rounded border border-primary">
                                                    <div class="col-4">
                                                        <h5><%= locals.studentAssignments[i][j].assignment_name %></h5>
                                                    </div>
                                                    <div class="col-5" id="assignment">
                                                        <input type="hidden" id="studentAssignmentID" value=<%= locals.studentAssignments[i][j].student_assignment_id %>>
                                                        <input type="hidden" id="assignmentPointsPossible" value=<%= locals.studentAssignments[i][j].points_possible %>>
                                                        <input type="hidden" id="studentGradePoints" value=<%= locals.studentAssignments[i][j].grade %>>

                                                        <div id="displayGrade">
                                                            <% if (locals.studentAssignments[i][j].status == 'Success') { %>
                                                                <h5 class="text-success"><%= locals.studentAssignments[i][j].grade %>/<%= locals.studentAssignments[i][j].points_possible %></h5>
                                                            <% } else if (locals.studentAssignments[i][j].status == 'Fail') { %>
                                                                <h5 class="text-danger"><%= locals.studentAssignments[i][j].grade %>/<%= locals.studentAssignments[i][j].points_possible %></h5>
                                                            <% } else { %>
                                                                <h5>-/<%= locals.studentAssignments[i][j].points_possible %></h5>
                                                            <% } %>
                                                        </div>
                                                        <div id="editGrade" style="display:none">
                                                            <span id="span">
                                                                <input id="editGradeInput" size="1" type="text" value=<%= locals.studentAssignments[i][j].grade %>> /<%= locals.studentAssignments[i][j].points_possible %>
                                                                <br><br>
                                                                Upload Asset:
                                                                <!--
                                                                <form id="assetForm" enctype="multipart/form-data" method="post" action="/Gradebook/upload">
                                                                --><input type="hidden" id="studentAssignmentID" name="studentAssignmentID" value=<%= locals.studentAssignments[i][j].student_assignment_id %>>
                                                                    <input type="file" id="myFile" name="myFile">
                                                                <!--</form>-->
                                                                <p class="text-success" id="uploadSuccess" style="display:none">File Uploaded Successfully</p>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-3 text-end" style="display:none" id="gradeSaveBtn">
                                                        <button class="btn btn-primary" onClick="submitGradeEdits(this);">
                                                            Save Grade
                                                        </button>
                                                        <br><br>
                                                        <button class="btn btn-primary" onClick="uploadAssignmentAsset(this);">
                                                            Upload Asset
                                                        </button>
                                                    </div>
                                                    <div class="col-3 text-end" id="gradeEditBtn">
                                                        <button class="btn btn-primary" onClick="beginUpdateGrade(this);">
                                                            Edit Grade
                                                        </button>
                                                    </div>
                                                </div>
                                            <% }
                                        } else { %>
                                            <p>No assignments found for student</p>
                                        <% } %>
                                    </div>
                                <% }
                            } else { %>
                                <p>No students found in class</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>