<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>S. M. A. R. T. New Course</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
  <%- include('partials/favico') %>
</head>

<script>
    const classes = <%- JSON.stringify(locals.classes) %>;

    function updateSelectClassLevel(selectedObject){
        const value = selectedObject.value;

        // Fill in the levels with all avaible class levels
        let levelsObj = document.getElementById("classLevel");

        // Remove all elements
        for (let i = levelsObj.options.length; i >= 0; i--) {
            levelsObj.remove(i);
        }

        // Add elements
        let classLevels = new Array()
        classes.forEach(element => {
            if(element.subject_name_id == value){
                classLevels.push(element);
            }
        });

        // Sort the objs so they are in asc order
        classLevels.sort((a,b) => {
            if(a.level_id > b.level_id){
                return 1;
            }
            else{
                return -1;
            }
        });

        console.log(classLevels);
        // Now add the elements
        classLevels.forEach(element => {
            let option = document.createElement("option");
            option.value = element.subject_id;
            option.text = element.level_name;
            levelsObj.add(option);
        });

        // Enable levels
        levelsObj.removeAttribute('disabled');
    }
</script>

<body>
  <div class="container-fluid vh-100" style="margin-top:10px">
    <div class="" style="margin-top:100px">
      <div class="rounded d-flex justify-content-center">
        <div class="col-md-4 col-sm-12 shadow-lg p-2 bg-light">
          <a href="InstructorDashboard" class="btn btn-secondary mt-2 position-relative top-0 start-0">Back</a>

          <div class="text-center">
            <h3 class="text-primary">Create New Course</h3>
          </div>
          <form method="post" action="" onSubmit="">

            <div class="row pt-4">
              <div class="col-md-10 mx-auto">

                <!--Class semesters-->
                <div class="input-group mt-4">
                  <select class="form-select" name="classSubject" id="classSubject">
                    <option value="" selected disabled hidden>Semesters</option>
                    <% 
                        if(locals.semesters != null){
                            locals.semesters.forEach(semester => {
                     %>
                     <option value=<%=semester.semester_id%>
                     >
                        <%=semester.description%>
                    </option>
                    <%
                    });
                        };
                     %>
                  </select>
                </div>

                <!--Class Subject-->
                <div class="input-group mt-4">
                  <select class="form-select" name="classSubject" id="classSubject" onchange="updateSelectClassLevel(this)">
                    <option value="" selected disabled hidden>Class Subject</option>
                    <% 
                        if(locals.classes != null){

                            // Load the classes into a set to get distinct values
                            const nameSet = new Set();
                            locals.classes.forEach(element => {

                                // Ifs its already in the set do nothing
                                if(nameSet.has(element.subject_name)){
                                    return; // The same as continue for foreach loop
                                }
                                else{
                                    nameSet.add(element.subject_name);
                                }
                     %>
                     <option value=<%= element.subject_name_id%>
                    >
                        <%=element.subject_name%>
                    </option>
                    <%
                    });
                        };
                     %>
                  </select>
                </div>

                <!--Class Level-->
                <div class="input-group mt-4 mb-3">
                  <select class="form-select" name="classLevel" id="classLevel" disabled>
                    <option value="" selected disabled hidden>Class Level</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>

                <!--Meeting Times-->
                <div>
                  <label>Meeting Times:</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary"><i class="bi bi-calendar-date text-white"></i></span>
                    <input id="classMeetingTimes" name="classMeetingTimes" type="text" class="form-control" placeholder="Tuesdays and Thursdays 2:00 PM - 4:00 PM">
                  </div>
                </div>
              </div>
            </div>


            <div class="text-center">
              <button class="btn btn-primary mt-2" type="submit">
                Create Course
              </button>
            </div>


            <div class="text-center">
              <p id="message" class="text-danger" style="height:25px">
                <%- locals.message %>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>