<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font/bootstrap-icons.css" />
    <%- include('partials/favico') %>
    <title>Owner Dashboard</title>
  </head>

  <script>

    function filterChanged() {
      let selectedSubject = document.getElementById("certificateSubjectSelect").value;

      let counts = document.getElementById("certificateCounts").children;

      for (let i = 0; i < counts.length; i++) {
        counts[i].style.display = "none";
      }

      document.getElementById(selectedSubject).style.display = "initial";
    }

  </script>

  <body onLoad="filterChanged();">
    <div class="container-fluid vh-100" style="margin-top: 10px">
      <div class="" style="margin-top: 100px">
        <div class="rounded d-flex justify-content-center">
          <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">
            <div class="row">
              <div class="col px-5">
                <button onclick="location.href = '/logout';" class="btn btn-primary mt-2 float-end">
                  Logout
                </button>
              </div>
            </div>
            <div class="text-center">
              <h3 class="text-primary">Owner Dashboard</h3>
            </div>
            <br>
            <!-- Students -->
            <h5 class="text-primary">Individual Student Reports</h5>
            <form method="post" action="/personResults" style="display:inline">
              <input type="hidden" name="ownerViewStudents" value="true">
              <input name="studentStatusSelect" id="currentStudentStatus" type="hidden" value="noFilter">
              <button class="btn btn-primary m-1" type="submit">View Students</button>
            </form>
            <!-- End Students -->
            <!-- Start Report Section -->
            <br><br>
            <h5 class="text-primary">Program Statistics</h5>
            <div class="row mt-2">
                <div class="col-md-4">
                  <p>Total Applications: <%= locals.generalStatistics[0].applications %></p>
                  <p>Total Students: <%= locals.generalStatistics[1].totalStudents %></p>
                  <p>Active Students: <%= locals.generalStatistics[2].activeStudents %></p>
                  <p>Graduated Students: <%= locals.generalStatistics[3].graduatedStudents %></p>
                </div>
                <div class="col-md-4">
                  <p>Total Instructors: <%= locals.generalStatistics[4].totalInstructors %></p>
                  <p>Active Instructors: <%= locals.generalStatistics[5].activeInstructors %></p>
                  <p>Total Social Workers: <%= locals.generalStatistics[6].totalSocialWorkers %></p>
                  <p>Active Social Workers: <%= locals.generalStatistics[7].activeSocialWorkers %></p>
                </div>
                <div class="col-md-4">
                  <p>Total Sponsors: <%= locals.generalStatistics[8].totalSponsors %></p>
                  <p>Active Sponsors: <%= locals.generalStatistics[9].activeSponsors %></p>
                  <p>Total Students Sponsored: <%= locals.generalStatistics[10].totalSponsoredStudents %></p>
                  <p>Active Sponsored Students: <%= locals.generalStatistics[11].activeSponsoredStudents %></p>
                </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <p>Average Class Size: <%= locals.generalStatistics[12].averageClassSize %></p>
                <p>Average Household Income: MT <%= locals.generalStatistics[13].averageIncome %></p>
              </div>
          </div>

            <br>
            <h5 class="text-primary">Certificates</h5>
            <div class="row">
              <div class="col-md-3">
                <select class="form-select" name="certificateSubjectSelect" id="certificateSubjectSelect" required onChange="filterChanged()">
                  <% for (let i = 0; i < locals.certificateSubjects.length; i++) { %>
                    <option value="<%= locals.certificateSubjects[i].subject_id %>"><%= locals.certificateSubjects[i].subject_name %> <%= locals.certificateSubjects[i].level_name %></option>
                  <% } %>
                </select>
              </div>
              <div class="col-md-9" id="certificateCounts">
                <% for (let i = 0; i < locals.classSubjectCounts.length; i++) { %>
                  <div id="<%= locals.classSubjectCounts[i].subject_id %>" class="col-md-3" style="display:none">
                    <p>Total Classes of Subject: <%= locals.classSubjectCounts[i]['COUNT(class.subject_id)'] %></p>
                    <p>Subject Certificates Awarded: <%= locals.certificateSubjectCounts[i]['COUNT(student_certificate.certificate_id)'] %></p>
                  </div>
                <% } %>
              </div>
            </div>
            <!-- End Report Section -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
